<div class="blog-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="blog-style__posts mdl-grid">
      <% @posts.each do |post| %>
        <div class="mdl-card mdl-cell mdl-cell--12-col blog-main__post mdl-shadow--5dp">
          <div class="mdl-card__media blog-style-bg-1">
            <h3>
              <%= link_to post.title, post %>
            </h3>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <h5><%= post.user.name %></h5>
            <h5>发布于<%= l post.created_at, :format => '%F' %></h5>
            <h5>回复<%= post.replies.count %></h5>
          </div>
        </div>
      <% end %>
      <%= render 'layouts/footer' %>
    </div>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
<div class="function-btn">
  <button id="toTop" class="mdl-button mdl-js-button mdl-button--fab toTop-btn">
    <i class="material-icons">keyboard_arrow_up</i>
  </button>
  <button id="home" data-turn="clear" class="mdl-button mdl-js-button mdl-button--fab home-btn">
    <i class="material-icons">reorder</i>
  </button>
  <button id="toBottom" class="mdl-button mdl-js-button mdl-button--fab toBottom-btn">
    <i class="material-icons">keyboard_arrow_down</i>
  </button>
</div>

<button id="demo-menu-top-left" class="mdl-button mdl-js-button more-btn">更多</button>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-top-left">
  <% if signed_in? %>
    <li class="mdl-menu__item"><%= link_to current_user.name, current_user %></li>
    <li class="mdl-menu__item"><%= link_to "退出", signout_path, method: "delete" %></li>
  <% else %>
    <li class="mdl-menu__item"><%= link_to "注册账号", signup_path %></li>
    <li class="mdl-menu__item"><%= link_to "登陆账号", signin_path %></li>
    <li class="mdl-menu__item"><%= link_to "设置", '#' %></li>
    <li class="mdl-menu__item"><%= link_to "信息", '#' %></li>
  <% end %>
</ul>