<div class="blog-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="blog-style__posts mdl-grid">
      <div class="mdl-cell mdl-cell--8-col mdl-shadow--5dp blog-user__about">
        <h3>欢迎来到个人前端小站</h3>
        <h5>本站会不定期分享前端文章</h5>
        <h6>allen_murolq@163.com</h6>
      </div>
      <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--5dp blog-user__info">
        <div class="user-face__filter"></div>
        <div class="user-face"><%= image_tag("face_01.jpeg") %></div>
      </div>
      <% @posts.each do |post| %>
        <div class="mdl-card mdl-cell mdl-cell--12-col blog-main__post mdl-shadow--5dp">
          <div class="mdl-card__media blog-style-bg-1">
            <h3>
              <%= link_to post.title, post %>
            </h3>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <h5><%= post.user.name %></h5>
            <h5>发布于<%= l post.created_at, :format => '%F' %></h5>
            <p>回复<%= post.replies.count %></p>
          </div>
        </div>
      <% end %>
      <%= render 'layouts/footer' %>
    </div>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
<button id="returnTop" class="mdl-button mdl-js-button mdl-button--fab returnTop-btn">
  <i class="material-icons">keyboard_arrow_up</i>
</button>
<button id="demo-menu-top-left" class="mdl-button mdl-js-button home-btn">更多</button>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-top-left">
  <% if signed_in? %>
    <li class="mdl-menu__item"><%= link_to current_user.name, current_user %></li>
    <li class="mdl-menu__item"><%= link_to "退出", signout_path, method: "delete" %></li>
  <% else %>
    <li class="mdl-menu__item"><%= link_to "注册账号", signup_path %></li>
    <li class="mdl-menu__item"><%= link_to "登陆账号", signin_path %></li>
    <li class="mdl-menu__item"><%= link_to "设置", '#' %></li>
    <li class="mdl-menu__item"><%= link_to "信息", '#' %></li>
  <% end %>
</ul>