<main class="mdl-layout__content">
	<div class="session-style__signin mdl-grid">
		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="mdl-cell mdl-cell--8-col session-signin__form mdl-shadow--4dp mdl-card">
			<a id="close" href="javascript:void(0);">
				<button class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">clear</i>
				</button>
			</a>
			<h3>账号登陆</h3>
			<%= form_for(:session, url: sessions_path) do |f| %>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		      <%= f.label :email, class: "mdl-textfield__label" %>
		      <%= f.text_field :email, class: "mdl-textfield__input" %>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		      <%= f.label :password, class: "mdl-textfield__label" %>
		      <%= f.password_field :password, class: "mdl-textfield__input" %>
		    </div>
		    <div class="mdl-grid submit-grid-style">
	      	<%= f.submit "登陆", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
	      </div>
	    <% end %>
	    <p>新用户? <%= link_to "新建账号！", signup_path %></p>
		</div>
	</div>
</main>