<%= form_for([@post,Reply.new], remote: true) do |f| %>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.text_area :content, class: "mdl-textfield__input", :rows=>"4", :id=>"comment" %>
    <%= f.label :content, '回复……',class: "mdl-textfield__label", :for=>"comment", :id=>"comment-label" %>
  </div>
  <%= button_tag(type: "submit") do %>
    <%= content_tag(:i, 'done', :class=>'material-icons md-32') %>
  <% end %>
<% end %>