<% provide(:title, @post.title + 'Replies') %>
<div class="post-style mdl-layout mdl-js-layout">
	<main class="mdl-layout__content">
		<div class="post-style__main mdl-grid">
			<div class="mdl-cell mdl-cell--1-col"></div>
			<div class="mdl-cell mdl-cell--10-col mdl-card post-content ">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
					<thead>
						<tr>
							<th>编号</th>
							<th>回复内容</th>
							<th>创建日期</th>
							<th>修改日期</th>
							<th>管理</th>
						</tr>
					</thead>
					<% if @replies.any? %>
						<tbody>
							<% @replies.each do |reply| %>
								<tr>
									<th><%= reply.id %></th>
									<th><%= reply.content %></th>
									<th><%= l reply.created_at, :format => '%F' %></th>
									<th><%= l reply.updated_at, :format => '%F' %></th>
									<th>
										<% if admin_in? %>
								    	<%= link_to "删除", reply, method: :delete, data:{ confirm: "您确定要删除吗?" } %>
								    <% else %>
								    	<%= 没有权限 %>
								    <% end %>
									</th>
								</tr>
							<% end %>
						</tbody>
					<% end %>
				</table>
			</div>
			<div class="mdl-cell mdl-cell--1-col"></div>
			<div class="mdl-cell mdl-cell--3-col"></div>
			<div class="mdl-cell mdl-cell--8-col">
				<%= paginate @replies, :window => 1 %>
				<button class="mdl-button mdl-js-button mdl-button--raised post-return-btn">
					<%= link_to "返回", posts_path %>
				</button>
			</div>
		</div>
	</main>
</div>