<% provide(:title, @user.name) %>
<div class="manager-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  	<div class="manager-style__main mdl-grid">
  		<div class="mdl-cell mdl-cell--2-col mdl-card manager-sidebar ">
  			<nav class="sidebar mdl-navigation mdl-card__supporting-text mdl-color-text--grey-700">
          <span class="mdl-navigation__link"><%= link_to "主页", root_path %></span>
  				<span class="mdl-navigation__link"><%= link_to "个人", current_user %></span>
          <span class="mdl-navigation__link"><%= link_to "文章", post_user_path(@user) %></span>
          <span class="mdl-navigation__link"><%= link_to "评论", '#' %></span>
          <span class="mdl-navigation__link"><%= link_to "退出", signout_path, method: 'delete' %></span>
  			</nav>
  		</div>
  		<div class="mdl-cell mdl-cell--10-col mdl-card manager-content">
        <div class="mdl-card__supporting-text mdl-color-text--grey-700">
    			<%= link_to posts_path, class: "btn-posts-more" do %>
            <i id="article-icon" class="material-icons">chrome_reader_mode</i>
            <div class="mdl-tooltip" for="article-icon">管理文章</div>
          <% end %>
          <% if @posts.any? %>
            <h4>文章总数 (<%= Post.all.count %>) 篇</h4>
            <h4>最近文章 (<%= @posts.count %>) 篇</h4>
          <% end %>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <% if @posts.any? %>
            <nav class="posts">
              <%= render @posts %>
              <li><span>更多文章...</span></li>
            </nav>
          <% end %>
        </div>
  		</div>
  	</div>
  </main>
</div>