<% provide(:title, @user.name) %>
<div class="manager-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  	<div class="manager-style__main mdl-grid">
  		<div class="mdl-cell mdl-cell--2-col manager-sidebar">
  			<nav class="sidebar mdl-navigation ">
          <span class="mdl-navigation__link"><%= link_to "主页", root_path %></span>
  				<span class="mdl-navigation__link"><%= link_to "个人", current_user %></span>
          <span class="mdl-navigation__link"><%= link_to "文章", post_user_path(@user), class: "mdl-badge", data: {badge: 1}%></span>
          <span class="mdl-navigation__link"><%= link_to "短讯", '#' %></span>
          <span class="mdl-navigation__link"><%= link_to "退出", signout_path, method: 'delete' %></span>
  			</nav>
  		</div>
  		<div class="mdl-cell mdl-cell--10-col manager-content">
  			<%= link_to "文 章 管 理", posts_path %>
        <% if @posts.any? %>
          <h3>Posts (<%= @posts.count %>)</h3>
          <nav class="posts">
            <%= render @posts %>
          </nav>
          <%= paginate @posts %>
        <% end %>
  		</div>
  	</div>
  </main>
</div>