<% provide(:title, @user.name) %>
<div class="manager-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  	<div class="manager-style__main mdl-grid">
  		<div class="mdl-cell mdl-cell--2-col mdl-card manager-sidebar ">
  			<nav class="sidebar mdl-navigation mdl-card__supporting-text mdl-color-text--grey-700">
          <span class="mdl-navigation__link"><%= link_to "主页", root_path %></span>
  				<span class="mdl-navigation__link"><%= link_to "个人", current_user %></span>
          <span class="mdl-navigation__link"><%= link_to "文章", post_user_path(@user) %></span>
          <span class="mdl-navigation__link"><%= link_to "用户", users_path %></span>
          <span class="mdl-navigation__link"><%= link_to "退出", signout_path, method: 'delete' %></span>
  			</nav>
  		</div>
  		<div class="mdl-cell mdl-cell--10-col mdl-card manager-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
          <thead>
            <tr>
              <th>编号</th>
              <th>文章名称</th>
              <th>创建日期</th>
              <th>修改日期</th>
              <th>评论数</th>
              <th>管理</th>
            </tr>
          </thead>
          <% if @posts.any? %>
            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <th><%= post.id %></th>
                  <th><%= link_to post.title, edit_post_path(post.id) %></th>
                  <th><%= l post.created_at, :format => '%F' %></th>
                  <th><%= l post.updated_at, :format => '%F' %></th>
                  <th><%= link_to post.replies.count, post_replies_path(post.id) %></th>
                  <th>
                    <% if admin_in? %>
                      <%= link_to "删除", post, method: :delete, data:{ confirm: "您确定要删除吗?" } %>
                    <% else %>
                      <%= 没有权限 %>
                    <% end %>
                  </th>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
        <button class="mdl-button mdl-js-button mdl-button--fab create-post">
          <%= link_to content_tag(:i, "add",:class=>'material-icons mdl-color-text--white', :id=>'create-icon'), new_post_path, :class=>'post-add-icon' %>
        </button>
        <div class="mdl-tooltip" for="create-icon">创建新文章</div>
  		</div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--8-col">
        <%= paginate @posts, :window => 1 %>
      </div>
  	</div>
  </main>
</div>