<% provide(:title, @post.title) %>
<div class="post-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  	<div class="post-style__main mdl-grid">
  		<div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-card">
        <div class="mdl-card__media mdl-color-text--grey-50"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 ">
          <div class="info">
            <% if admin_in? %>
              <%= link_to @user do %>
                <i id="icon-exit" class="material-icons md-32">exit_to_app</i>
                <div class="mdl-tooltip" for="icon-exit">返回主页</div>
              <% end %>
            <% else %>
              <%= link_to root_path do %>
                <i id="icon-exit" class="material-icons">exit_to_app</i>
                <div class="mdl-tooltip" for="icon-exit">返回首页</div>
              <% end %>
            <% end %>
            <span><%= time_ago_in_words(@post.created_at) %></span>
            <span>ago</span>
          </div>
          <div class="favorite">
            <i id="icon-favorite" class="material-icons">favorite</i>
            <div class="mdl-tooltip" for="icon-favorite">喜欢</div>
          </div>
          <div class="markbook">
            <i id="icon-markbook" class="material-icons">bookmark</i>
            <div class="mdl-tooltip" for="icon-markbook">马克一下</div>
          </div>
          <div class="share">
            <i id="icon-share" class="material-icons">share</i>
            <div class="mdl-tooltip" for="icon-share">分享链接</div>
          </div>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700">
          <h3><%= @post.title %></h3>
          <p><%= @post.content %></p>
        </div>
        <div class="mdl-color--grey-300 mdl-card__supporting-text">
          <%= render 'replies/reply_form' %>
          <div class="post-comment mdl-color-text--grey-700">
            <% if @post.replies.any? %>
              <%= render @replies %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col post-nav">
        <%= link_to(@pre, :class=>'post-nav__pre') do %>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900">
            <i class="material-icons">arrow_back</i>
          </button>
          Previous
        <% end %>
        <%= link_to(@next, :class=>'post-nav__next') do %>
          Next
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900">
            <i class="material-icons">arrow_forward</i>
          </button>
        <% end %>
      </div>
  	</div>
  </main>
</div>