<% provide(:title, @post.title) %>
<div class="post-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  	<div class="post-style__main mdl-grid">
  		<div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-card">
        <div class="mdl-card__media mdl-color-text--grey-50"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 ">
          <div class="info">
            <span><%= time_ago_in_words(@post.created_at) %></span>
            <span>ago</span>
          </div>
          <div class="favourite">
            <i class="material-icons">favorite</i>
          </div>
          <div class="markbook">
            <i class="material-icons">bookmark</i>
          </div>
          <div class="share">
            <i class="material-icons">share</i>
          </div>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700">
          <h3><%= @post.title %></h3>
          <p><%= @post.content %></p>
        </div>
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text"></div>
      </div>
      <div class="mdl-cell mdl-cell--12-col post-nav">
        <%= link_to('#', :class=>'post-nav__pre') do %>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900">
            <i class="material-icons">arrow_back</i>
          </button>
          Previous
        <% end %>
        <%= link_to('#', :class=>'post-nav__next') do %>
          Next
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900">
            <i class="material-icons">arrow_forward</i>
          </button>
        <% end %>
      </div>
  	</div>
  </main>
</div>